<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Announcement</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <!-- Boxicons CDN Links -->
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/add_announcement.css' %}" />
  <!-- <script type="text/javascript" src="add_ancmnt.js"></script> -->

  <!-- Party JS script  -->
  <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
  <style>
    #lgid {
      justify-items: center;
      margin: 8px;
      margin-top: 0px;
      padding-top: 15px;
    }

    #mainI {
      height: 100%;
      width: 100%;
      opacity: 0.9;
    }

    #mainTx {
      justify-items: center;
      display: flex;
      justify-content: center;
    }
  </style>
</head>

<body>

  {% include "partials/sidebar.html" %}

  <div class="home_content">
    <section class="tabs" id="tabs">
      <section id="all_tab">
        <div id="tab" class="tab" onclick="showTab(this.id)">
          <h4>New Announcement</h4>
          <div id="close_tab" class="close_tab" onclick="closeTabs(this.id)">
            <img src="{% static 'img/close.png' %}" alt="" class="close">
          </div>
        </div>
      </section>
      <section class="plus_tab" id="plusbtn" onclick="addTabs()" onc>
        <img src="{% static 'img/plus_tab.png' %}" alt="" class="click_plus">
      </section>
    </section>

    <section class="announcement_section" id="announcement_section">
      <div class="form" id="form">
        <form name="form" id="form_no">
          <div class="form-group row ">
            <label for="academicyear" class="col-sm-4 col-form-label fieldspace"><strong>Academic
                Year</strong></label>
            <div class="col-sm-5 fieldspace">
              <select class="form-control" id="academicyear" name="academicyear" onchange="savevalue(this.id)" required>
                <option value="2021-2022">2021-2022</option>
                <option value="2022-2023">2022-2023</option>
                <option value="2023-2024">2023-2024</option>
                <option value="2024-2025">2024-2025</option>
                <option value="2025-2026">2025-2026</option>
                <option value="2026-2027">2026-2027</option>
                <option value="2027-2028">2027-2028</option>
                <option value="2028-2029">2028-2029</option>
                <option value="2029-2030">2029-2030</option>
              </select>
            </div>

            <label for="eventname" class="col-sm-4 col-form-label fieldspace"><strong>Event
                Name</strong></label>
            <div class="col-sm-8 fieldspace">
              <textarea class="form-control" id="eventname" name="eventname" rows="3" onchange="savevalue(this.id)" required></textarea>
            </div>

            <label for="eventfocus" class="col-sm-4 col-form-label fieldspace"><strong>Event
                Focus</strong></label>
            <div class="col-sm-8 fieldspace">
              <textarea class="form-control" id="eventfocus" name="eventfocus" rows="3" onchange="savevalue(this.id)" required></textarea>
            </div>

            <label for="eventstartdate" class="col-sm-4 col-form-label fieldspace"><strong>Event Start
                Date</strong></label>
            <div class="col-sm-5 fieldspace">
              <input type="date" class="form-control" id="eventstartdate" name="eventstartdate" onchange="calculateDays()" onchange="savevalue(this.id)" required>
            </div>

            <label for="eventenddate" class="col-sm-4 col-form-label fieldspace"><strong>Event End
                Date</strong></label>
            <div class="col-sm-5 fieldspace">
              <input type="date" class="form-control" id="eventenddate" name="eventenddate" onchange="calculateDays()" onchange="savevalue(this.id)" required>
            </div>

            <div class="form-group row" id="eventtiming">
            </div>

            <label for="eventvenue" class="col-sm-4 col-form-label fieldspace"><strong>Event
                Venue</strong></label>
            <div class="col-sm-8 fieldspace">
              <textarea class="form-control" id="eventvenue" name="eventvenue" rows="3" onchange="savevalue(this.id)" required></textarea>
            </div>

            <label for="eventresourceperson" class="col-sm-4 col-form-label fieldspace"><strong>Event
                Resource Person</strong></label>
            <div class="col-sm-8 fieldspace">
              <textarea class="form-control" id="eventresourceperson" name="eventresourceperson" rows="3" onchange="savevalue(this.id)" required></textarea>
            </div>

            <div class="container">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-outline-dark fieldspace" onmousedown="party.confetti(this)" id="submit">Announce</button>
              </div>
            </div>

          </div>
        </form>
      </div>


    </section>
  </div>

  <script>
    party.confetti(runButton, {
      count: party.variation.range(200, 400),
    });
  </script>

  <script>
    document.getElementById("form_no").addEventListener("submit", async (e) => {
      e.preventDefault();
      console.log("meow");

      let academicyear = document.getElementById("academicyear").value;
      let eventname = document.getElementById("eventname").value;
      let eventfocus = document.getElementById("eventfocus").value;
      let eventstartdate = document.getElementById("eventstartdate").value;
      let eventenddate = document.getElementById("eventenddate").value;
      let eventvenue = document.getElementById("eventvenue").value;
      let eventresourceperson = document.getElementById("eventresourceperson").value;

      let diff = eventenddate.slice(8, ) - eventstartdate.slice(8, );

      starttime = []
      endtime = []

      for (i = 1; i <= diff + 1; i++) {
        starttime.push(document.getElementById(`starttime${i}`).value)
        endtime.push(document.getElementById(`endtime${i}`).value)
      }

      let data = await fetch("http://127.0.0.1:8000/api/event/", {
        method: "POST",
        headers: {
          'Content_Type': "application/json",
        },
        body: JSON.stringify({
          academicyear,
          eventname,
          eventfocus,
          eventstartdate,
          eventenddate,
          eventvenue,
          eventresourceperson,
          starttime: starttime.toString(),
          endtime: endtime.toString()
        })
      });

      let res = await data.json();
      // alert("Successfully! Event Created. ")
      document.getElementById("form").innerHTML = "<h1 class='text-center text-primary'> Successfully Created </h1>"

      localStorage.removeItem("academicyear");
      localStorage.removeItem("eventname");
      localStorage.removeItem("eventfocus");
      localStorage.removeItem("eventstartdate");
      localStorage.removeItem("eventenddate");
      localStorage.removeItem("eventvenue");
      localStorage.removeItem("eventresourceperson");

      document.getElementById("academicyear").value = ""
      document.getElementById("eventname").value = ""
      document.getElementById("eventfocus").value = ""
      document.getElementById("eventstartdate").value = ""
      document.getElementById("eventenddate").value = ""
      document.getElementById("eventvenue").value = ""
      document.getElementById("eventresourceperson").value = ""

      document.getElementById("eventtiming").innerHTML = ""
    })


    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");
    let searchBtn = document.querySelector(".bx-search");
    let counter = 0;
    let count = 0;
    var tabList = {
      'tab': 'form'
    };
    var tabHistory = {
      'tab': 'form'
    };
    var childs_announcement = document.getElementById('announcement_section').children; // to fetch the forms present inside announcement section

    // to store the data for each tabs form fields
    var tab_info = ['academicyear', 'eventname', 'eventfocus', 'eventstartdate', 'eventenddate', 'eventtiming', 'eventvenue', 'eventresourceperson'];
    var tab1_info = ['academicyear1', 'eventname1', 'eventfocus1', 'eventstartdate1', 'eventenddate1', 'eventtiming1', 'eventvenue1', 'eventresourceperson1'];
    var tab2_info = ['academicyear2', 'eventname2', 'eventfocus2', 'eventstartdate2', 'eventenddate2', 'eventtiming2', 'eventvenue2', 'eventresourceperson2'];
    var tab3_info = ['academicyear3', 'eventname3', 'eventfocus3', 'eventstartdate3', 'eventenddate3', 'eventtiming3', 'eventvenue3', 'eventresourceperson3'];
    var tab4_info = ['academicyear4', 'eventname4', 'eventfocus4', 'eventstartdate4', 'eventenddate4', 'eventtiming4', 'eventvenue4', 'eventresourceperson4'];

    var choose_tab = {
      tab: tab_info,
      tab1: tab1_info,
      tab2: tab2_info,
      tab3: tab3_info,
      tab4: tab4_info,
    }
    // sidebar functions
    btn.onclick = function() {
      sidebar.classList.toggle("active");
    }
    searchBtn.onclick = function() {
      sidebar.classList.toggle("active");
    }

    // tab functions
    function calculateDays() {
      counter++;
      var d1 = document.getElementById("eventstartdate").value;
      var d2 = document.getElementById("eventenddate").value;

      const date1 = new Date(d1);
      const date2 = new Date(d2);
      const time = Math.abs(date2 - date1);
      const days = Math.ceil(time / (1000 * 60 * 60 * 24));
      console.log(days);

      if (date1 > date2) {
        document.getElementById('eventtiming').innerHTML = "";
        alert("Please make valid selection of starting and ending dates")
      } else {
        if (counter > 1) {
          document.getElementById('eventtiming').innerHTML = "";
        }

        for (var i = 1; i <= days + 1; i++) {
          html = '<label for="eventtime" class="col-md-4 col-form-label fieldspace"><strong>Day ' + i + ' Time</strong></label>\
                            <div class="col-md-4 fieldspace" style="padding-right: 1rem;">\
                                <label for="starttime' + i + '" class="col-sm-6 col-form-label"><strong>Start Time :</strong></label>\
                                <input type="time" class="form-control" id="starttime' + i + '" name="starttime' + i + '"></input>\
                            </div>\
                            <div class="col-md-4 fieldspace" style="padding-left: 1rem;">\
                                <label for="endtime' + i + '" class="col-sm-6 col-form-label"><strong>End Time :</strong></label>\
                                <input type="time" class="form-control" id="endtime' + i + '" name="endtime' + i + '"></input>\
                            </div>'
          document.getElementById('eventtiming').innerHTML += html;
        }
      }
    }

    function addTabs() {
      count++;

      if (count < 5) {
        html = '<div id="tab' + count + '" class="tab"  onclick="showTab(this.id)">\
                    <h4>New Announcement</h4>\
                    <div id="close_tab' + count + '" class="close_tab"  onclick="closeTabs(this.id)">\
                        <img src="{% static "img/close.png" %}" alt="" class="close">\
                    </div>\
                </div>';

        form = '<div class="form" id="form' + count + '">\
                <form name="form' + count + '" method="post" onsubmit="return (validate())" id="form_no">\
                    <div class="form-group row ">\
                        <label for ="academicyear' + count + '" class="col-sm-4 col-form-label fieldspace"><strong>Academic Year</strong></label>\
                        <div class="col-sm-5 fieldspace">\
                            <select class="form-control" id="academicyear' + count + '" onchange="savevalue(this.id)">\
                                <option value="2021-2022">2021-2022</option>\
                                <option value="2022-2023">2022-2023</option>\
                                <option value="2023-2024">2023-2024</option>\
                                <option value="2024-2025">2024-2025</option>\
                                <option value="2025-2026">2025-2026</option>\
                                <option value="2026-2027">2026-2027</option>\
                                <option value="2027-2028">2027-2028</option>\
                                <option value="2028-2029">2028-2029</option>\
                                <option value="2029-2030">2029-2030</option>\
                            </select>\
                        </div>\
                        <label for="eventname' + count + '" class="col-sm-4 col-form-label fieldspace"><strong>Event Name</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventname' + count + '" rows="3" onchange="savevalue(this.id)"></textarea>\
                        </div>\
                        <label for="eventfocus' + count + '" class="col-sm-4 col-form-label fieldspace"><strong>Event Focus</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventfocus' + count + '" rows="3" onchange="savevalue(this.id)"></textarea>\
                        </div>\
                        <label for="eventstartdate' + count + '" class="col-sm-4 col-form-label fieldspace"><strong>Event Start Date</strong></label>\
                        <div class="col-sm-5 fieldspace">\
                            <input type="date" class="form-control" id="eventstartdate' + count + '" onchange="calculateDays()" onchange="savevalue(this.id)"></div>\
                        <label for="eventenddate' + count + '" class="col-sm-4 col-form-label fieldspace"><strong>Event End Date</strong></label>\
                        <div class="col-sm-5 fieldspace">\
                            <input type="date" class="form-control" id="eventenddate' + count + '" onchange="calculateDays()" onchange="savevalue(this.id)">\
                        </div>\
                        <div class="form-group row" id="eventtiming' + count + '"></div>\
                        <label for="eventvenue' + count + '" class="col-sm-4 col-form-label fieldspace"><strong>Event Venue</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventvenue' + count + '" rows="3" onchange="savevalue(this.id)"></textarea>\
                        </div>\
                        <label for="eventresourceperson' + count + '" class="col-sm-4 col-form-label fieldspace"><strong>Event Resource Person</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventresourceperson' + count + '" rows="3" onchange="savevalue(this.id)"></textarea>\
                        </div>\
                        <div class="container">\
                            <div class="col-md-12 text-center">\
                                <button type="button" class="btn btn-outline-dark fieldspace" id="submit' + count + '">Announce</button>\
                            </div>\
                        </div>\
                    </div>\
                </form>\
            </div>';

        document.getElementById('all_tab').innerHTML += html;
        document.getElementById('announcement_section').innerHTML += form;

        var allTab = document.getElementById('all_tab').children;

        var tempChild = allTab[count].id;
        var tempForm = childs_announcement[count].id;
        tabList[tempChild] = tempForm;
        tabHistory[tempChild] = tempForm;

        for (var child in childs_announcement) {
          if (childs_announcement[child].id === tabList[tempChild]) {
            document.getElementById(childs_announcement[child].id).style.display = 'block'; // to show only the newly created tab
            tabHistory[tempChild] = tempForm; // to store the history of tabs
          } else if (child !== 'length' && child !== 'item' && child !== 'namedItem') {
            document.getElementById(childs_announcement[child].id).style.display = 'none';
          }
        }

        // change of tab color when clicking on it..
        for (var tabs in tabList) {
          if (tabs === tempChild) {
            document.getElementById(tabs).style.backgroundColor = "#00000033";
            document.getElementById(tabs).style.color = "#000000";
          } else {
            document.getElementById(tabs).style.backgroundColor = "#000000";
            document.getElementById(tabs).style.color = "#ffffff";
          }
        }

        // document.getElementById(tempChild).style.backgroundColor = "#00000033";
        // document.getElementById(tempChild).style.color = "#000000";

        if (count == 4) {
          document.getElementById('plusbtn').style.display = 'none';
        }
      }
    }

    function closeTabs(child_id) {
      if (count < 1) {
        return;
      }

      var announcement = document.getElementById('announcement_section'); // to store the announcement section as a variable
      var childTab = document.getElementById(child_id);

      // console.log(childTab.parentElement.id);
      var parentID = childTab.parentElement.id; // to get the tab id to close it

      for (var child in childs_announcement) {
        if (childs_announcement[child].id === tabList[parentID]) {
          announcement.removeChild(childs_announcement[child]);
          console.log("deleted");
        }
      }

      delete tabHistory[parentID];
      childTab.parentElement.remove();
      delete tabList[parentID];
      count--;

      var lastTab = Object.keys(tabHistory).pop(); // fetching the last tab from tabHistory

      for (var forms in childs_announcement) {
        if (childs_announcement[forms].id === tabList[lastTab]) {
          document.getElementById(childs_announcement[forms].id).style.display = 'block';
        }
      }

      // lund code, bhenchod not executable
      for (var tabs in tabList) {
        if (tabs === lastTab) {
          document.getElementById(tabs).style.backgroundColor = "#00000033";
          document.getElementById(tabs).style.color = "#000000";
        } else {
          document.getElementById(tabs).style.backgroundColor = "#000000";
          document.getElementById(tabs).style.color = "#ffffff";
        }
      }

      if (count < 5) {
        document.getElementById('plusbtn').style.display = 'flex';
      }
    }

    // to show the requested tab
    function showTab(tabID) {
      // console.log("tabID1", tabID);
      if (tabList[tabID]) {
        for (var child in childs_announcement) {
          if (childs_announcement[child].id === tabList[tabID]) {
            document.getElementById(childs_announcement[child].id).style.display = 'block';
            tabHistory[tabID] = childs_announcement[child].id;
          } else if (child !== 'length' && child !== 'item' && child !== 'namedItem') {
            document.getElementById(childs_announcement[child].id).style.display = 'none';
          }
        }
      }
      // console.log("tabID2", tabID);
      // change of tab color when clicking on it..
      for (var tabs in tabList) {
        if (tabs === tabID) {
          document.getElementById(tabID).style.backgroundColor = "#00000033";
          document.getElementById(tabID).style.color = "#000000";
        } else {
          document.getElementById(tabs).style.backgroundColor = "#000000";
          document.getElementById(tabs).style.color = "#ffffff";
        }
      }
      // console.log("tabID3", tabID);

      // console.log(tabID);
      // if (tabID === 'tab') {
      //     console.log('yes');
      //     logsData = tab_info
      // }
      // // console.log(`tabID4-${tabID}`);
      // else if (tabID === 'tab1') {
      //     console.log('yes');
      //     logsData = tab1_info;
      // }
      // else if (tabID === 'tab2') {
      //     console.log('yes');
      //     logsData = tab2_info;
      // }
      // else if (tabID === 'tab3') {
      //     console.log('yes');
      //     logsData = tab3_info;
      // }
      // else if (tabID === 'tab4') {
      //     console.log('yes');
      //     logsData = tab4_info;
      // }
      // else{
      //     console.log('here');
      // }

      var logsData = choose_tab[tabID];

      console.log(tabID);
      for (var metadata in logsData) {
        if (localStorage.getItem(logsData[metadata])) {
          document.getElementById(logsData[metadata]).value = localStorage.getItem(logsData[metadata]);
        }
      }
    }

    function savevalue(id) {
      console.log("hi")
      let academicyear = document.getElementById("academicyear").value;
      let eventname = document.getElementById("eventname").value;
      let eventfocus = document.getElementById("eventfocus").value;
      let eventvenue = document.getElementById("eventvenue").value;
      let eventresourceperson = document.getElementById("eventresourceperson").value;

      if (academicyear != "" && eventname != "" && eventfocus != "" && eventstartdate != "" && eventenddate != "" && eventvenue != "" && eventresourceperson != "") {
        console.log("bye")
        document.getElementById("submit").classList.remove("disabled")
      }
      console.log(id);
      localStorage.setItem(id, document.getElementById(id).value);
      console.log(localStorage.getItem(id));
    }
  </script>
</body>

</html>