<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Boxicons CDN Links -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_announcement.css' %}">
    <!-- <script type="text/javascript" src="add_ancmnt.js"></script> -->
    <style>
        #lgid {
            justify-items: center;
            margin: 8px;
            margin-top: 0px;
            padding-top: 15px;
        }

        #mainI {
            height: 100%;
            width: 100%;
            opacity: 0.9;
        }

        #mainTx {
            justify-items: center;
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <!-- <i class='bx bxl-c-plus-plus'></i> -->
                <div class="logo_name">
                    <img src="charusat_transparent.png" alt="" style="width:180px; height: 49px;" id="lgid">
                </div>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <i class="bx bx-search"></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip"><b>Search...</b></span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-grid-alt"></i>
                    <span class="links_name">DashBoard</span>
                </a>
                <span class="tooltip"><b>DashBoard</b></span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-cross"></i>
                    <span class="links_name">Create Event</span>
                </a>
                <span class="tooltip"><b>Create Event</b></span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-calendar-check"></i>
                    <span class="links_name">SubEvent</span>
                </a>
                <span class="tooltip"><b>Sub Event</b></span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-calendar"></i>
                    <span class="links_name">BatchWise Nomination</span>
                </a>
                <span class="tooltip"><b>Nomination</b></span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-certification"></i>
                    <span class="links_name">Certificate</span>
                </a>
                <span class="tooltip"><b>Certificate</b></span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-user-check"></i>
                    <span class="links_name">Attendance</span>
                </a>
                <span class="tooltip"><b>Attendance</b></span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-log-out"></i>
                    <span class="links_name">Log Out</span>
                </a>
                <span class="tooltip"><b>Log Out</b></span>
            </li>

    <div class="home_content">
        <section class="tabs" id="tabs">
            <section id="all_tab">
                <div id="tab" class="tab" onclick="showTab(this.id)">
                    <h4>New Announcement</h4>
                    <div id="close_tab" class="close_tab" onclick="closeTabs(this.id)">
                        <img src="{% static 'img/close.png' %}" alt="" class="close">
                    </div>
                </div>
            </section>
            <section class="plus_tab" onclick="addTabs()" onc>
                <img src="{% static 'img/plus_tab.png' %}" alt="" class="click_plus">
            </section>
        </section>

        <section class="announcement_section" id="announcement_section">
            <div class="form" id="form">
                <form name="form" method="post" onsubmit="return (validate())" id="form_no"> {% csrf_token %}
                    <div class="form-group row ">

                        <label for="academicyear" class="col-sm-4 col-form-label fieldspace"><strong>Academic
                                Year</strong></label>
                        <div class="col-sm-5 fieldspace">
                            <select class="form-control" id="academmicyear" name="academmicyear">
                                <option value="2021-2022">2021-2022</option>
                                <option value="2022-2023">2022-2023</option>
                                <option value="2023-2024">2023-2024</option>
                                <option value="2024-2025">2024-2025</option>
                                <option value="2025-2026">2025-2026</option>
                                <option value="2026-2027">2026-2027</option>
                                <option value="2027-2028">2027-2028</option>
                                <option value="2028-2029">2028-2029</option>
                                <option value="2029-2030">2029-2030</option>
                            </select>
                        </div>

                        <label for="eventname" class="col-sm-4 col-form-label fieldspace"><strong>Event
                                Name</strong></label>
                        <div class="col-sm-8 fieldspace">
                            <textarea class="form-control" id="eventname" rows="3" name="eventname"></textarea>
                        </div>

                        <label for="eventfocus" class="col-sm-4 col-form-label fieldspace"><strong>Event
                                Focus</strong></label>
                        <div class="col-sm-8 fieldspace">
                            <textarea class="form-control" id="eventfocus" name="eventfocus" rows="3"></textarea>
                        </div>

                        <label for="eventstartdate" class="col-sm-4 col-form-label fieldspace"><strong>Event Start
                                Date</strong></label>
                        <div class="col-sm-5 fieldspace">
                            <input type="date" 
                            name="eventstartdate" class="form-control" id="eventstartdate" onchange="calculateDays()">
                        </div>

                        <label for="eventenddate" class="col-sm-4 col-form-label fieldspace"><strong>Event End
                                Date</strong></label>
                        <div class="col-sm-5 fieldspace">
                            <input type="date" class="form-control" id="eventenddate" 
                            name="eventenddate"
                            onchange="calculateDays()">
                        </div>

                        <div class="form-group row" id="eventtiming">
                        </div>

                        <label for="eventvenue" class="col-sm-4 col-form-label fieldspace"><strong>Event
                                Venue</strong></label>
                        <div class="col-sm-8 fieldspace">
                            <textarea class="form-control" id="eventvenue" name="eventvenue" rows="3"></textarea>
                        </div>

                        <label for="eventresourceperson" class="col-sm-4 col-form-label fieldspace"><strong>Event
                                Resource Person</strong></label>
                        <div class="col-sm-8 fieldspace">
                            <textarea class="form-control" id="eventresourceperson" rows="3" name="eventresourceperson"></textarea>
                        </div>

                        <div class="container">
                            <div class="col-md-12 text-center">
                                <input type="submit" class="btn btn-outline-dark fieldspace"
                                    id="submit" value="Announce">
                            </div>
                        </div>

                    </div>
                </form>
            </div>


        </section>
    </div>

    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");
        let counter = 0;
        let count = 0;
        let log_data = [
            {

            }
        ]
        var tabList = {
            'tab': 'form'
        };
        var tabHistory = {
            'tab': 'form'
        };
        var childs_announcement = document.getElementById('announcement_section').children; // to fetch the forms present inside announcement section

        // sidebar functions
        btn.onclick = function () {
            sidebar.classList.toggle("active");
        }
        searchBtn.onclick = function () {
            sidebar.classList.toggle("active");
        }

        // tab functions
        function calculateDays() {
            counter++;
            var d1 = document.getElementById("eventstartdate").value;
            var d2 = document.getElementById("eventenddate").value;

            const date1 = new Date(d1);
            const date2 = new Date(d2);
            const time = Math.abs(date2 - date1);
            const days = Math.ceil(time / (1000 * 60 * 60 * 24));
            console.log(days);

            if (date1 > date2) {
                document.getElementById('eventtiming').innerHTML = "";
                alert("Please make valid selection of starting and ending dates")
            }
            else {
                if (days === 0) {
                    html =
                      '<label for="eventtime" class="col-md-4 col-form-label fieldspace"><strong>Event Time</strong></label>\
                                    <div class="col-md-4 fieldspace" style="padding-right: 1rem;">\
                                        <label for="starttime ' +
                      i +
                      ' " class="col-sm-6 col-form-label"><strong>Start Time :</strong></label>\
                                        <input type="time" class="form-control" name="starttime1 " required></input>\
                                    </div>\
                                    <div class="col-md-4 fieldspace" style="padding-left: 1rem;">\
                                        <label for="endtime  ' +
                      i +
                      ' " class="col-sm-6 col-form-label"><strong>End Time :</strong></label>\
                                        <input type="time" class="form-control" name="endtime1 " required></input>\
                                    </div>';
                    document.getElementById("eventtiming").innerHTML = html;
                  } 
                else {
                    if (counter > 1) {
                        document.getElementById('eventtiming').innerHTML = "";
                    }

                    for (var i = 1; i <= days + 1; i++) {
                        html = '<label for="eventtime" class="col-md-4 col-form-label fieldspace"><strong>Day ' + i + ' Time</strong></label>\
                            <div class="col-md-4 fieldspace" style="padding-right: 1rem;">\
                                <label for="starttime '+ i + ' " class="col-sm-6 col-form-label"><strong>Start Time :</strong></label>\
                                <input type="time" class="form-control" id="starttime '+ i + ' "></input>\
                            </div>\
                            <div class="col-md-4 fieldspace" style="padding-left: 1rem;">\
                                <label for="endtime  '+ i + ' " class="col-sm-6 col-form-label"><strong>End Time :</strong></label>\
                                <input type="time" class="form-control" id="endtime  '+ i + ' "></input>\
                            </div>'
                        document.getElementById('eventtiming').innerHTML += html;
                    }
                }
            }
        }

        function addTabs() {
            count++;
            html = '<div id="tab ' + count + ' " class="tab"  onclick="showTab(this.id)">\
                    <h4>New Announcement</h4>\
                    <div id="close_tab ' + count + ' " class="close_tab"  onclick="closeTabs(this.id)">\
                        <img src="{% static 'img/close.png' %}" alt="" class="close">\
                    </div>\
                </div>';

            form = '<div class="form" id="form ' + count + ' ">\
                <form name="form ' + count + ' " method="post" onsubmit="return (validate())" id="form_no">\
                    <div class="form-group row ">\
                        <label for ="academicyear ' + count + ' " class="col-sm-4 col-form-label fieldspace"><strong>Academic Year</strong></label>\
                        <div class="col-sm-5 fieldspace">\
                            <select class="form-control" id="academmicyear ' + count + ' ">\
                                <option value="2021-2022">2021-2022</option>\
                                <option value="2022-2023">2022-2023</option>\
                                <option value="2023-2024">2023-2024</option>\
                                <option value="2024-2025">2024-2025</option>\
                                <option value="2025-2026">2025-2026</option>\
                                <option value="2026-2027">2026-2027</option>\
                                <option value="2027-2028">2027-2028</option>\
                                <option value="2028-2029">2028-2029</option>\
                                <option value="2029-2030">2029-2030</option>\
                            </select>\
                        </div>\
                        <label for="eventname ' + count + ' " class="col-sm-4 col-form-label fieldspace"><strong>Event Name</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventname ' + count + ' " rows="3"></textarea>\
                        </div>\
                        <label for="eventfocus ' + count + ' " class="col-sm-4 col-form-label fieldspace"><strong>Event Focus</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventfocus ' + count + ' " rows="3"></textarea>\
                        </div>\
                        <label for="eventstartdate ' + count + ' " class="col-sm-4 col-form-label fieldspace"><strong>Event Start Date</strong></label>\
                        <div class="col-sm-5 fieldspace">\
                            <input type="date" class="form-control" id="eventstartdate ' + count + ' " onchange="calculateDays()">\
                        </div>\
                        <label for="eventenddate ' + count + ' " class="col-sm-4 col-form-label fieldspace"><strong>Event End Date</strong></label>\
                        <div class="col-sm-5 fieldspace">\
                            <input type="date" class="form-control" id="eventenddate ' + count + ' " onchange="calculateDays()">\
                        </div>\
                        <div class="form-group row" id="eventtiming ' + count + ' ">\
                        </div>\
                        <label for="eventvenue ' + count + ' " class="col-sm-4 col-form-label fieldspace"><strong>Event Venue</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventvenue ' + count + ' " rows="3"></textarea>\
                        </div>\
                        <label for="eventresourceperson ' + count + ' " class="col-sm-4 col-form-label fieldspace"><strong>Event Resource Person</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventresourceperson ' + count + ' " rows="3"></textarea>\
                        </div>\
                        <div class="container">\
                            <div class="col-md-12 text-center">\
                                <input type="submit" class="btn btn-outline-dark fieldspace" value="Announce" id="submit ' + count + ' ">\
                            </div>\
                        </div>\
                    </div>\
                </form>\
            </div>';

            document.getElementById('all_tab').innerHTML += html;
            document.getElementById('announcement_section').innerHTML += form;

            var allTab = document.getElementById('all_tab').children;
            // console.log(allTab[count].id);
            // console.log(childs_announcement[count].id);

            var tempChild = allTab[count].id;
            var tempForm = childs_announcement[count].id;
            tabList[tempChild] = tempForm;

            for (var child in childs_announcement) {
                console.log(child);
                console.log(childs_announcement[child].id);
                if (childs_announcement[child].id === tabList[tempChild]) {
                    document.getElementById(childs_announcement[child].id).style.display = 'block'; // to show only the newly created tab
                    tabHistory[tempChild] = tempForm; // to store the history of tabs
                }
                else if (child !== 'length' && child !== 'item' && child !== 'namedItem') {
                    document.getElementById(childs_announcement[child].id).style.display = 'none';
                }
            }
            // 794 - 45 = 749
            var limit = document.getElementById('tabs').offsetWidth;
            var alltabLength = document.getElementById('all_tab').offsetWidth;
            console.log(limit);
            console.log(alltabLength);
            var tabArray = Object.keys(tabList);
            var tabLength = (limit - 45) / (count + 1);
            console.log(tabLength);

            if (alltabLength > limit) {
                for (tabs in tabArray) {
                    console.log(tabArray[tabs]);
                    document.getElementById(tabArray[tabs]).style.width = tabLength + "px";
                }
                console.log(document.getElementById('tabs').offsetWidth);
            }

        }

        function closeTabs(child_id) {
            var announcement = document.getElementById('announcement_section'); // to store the announcement section as a variable
            var childTab = document.getElementById(child_id);

            // console.log(childTab.parentElement.id);
            var parentID = childTab.parentElement.id; // to get the tab id to close it

            for (var child in childs_announcement) {
                if (childs_announcement[child].id === tabList[parentID]) {
                    announcement.removeChild(childs_announcement[child]);
                    console.log("deleted");
                }
            }

            delete tabHistory[parentID];
            childTab.parentElement.remove();
            delete tabList[parentID];
            count--;

            var lastTab = Object.keys(tabHistory).pop();

            for (var forms in childs_announcement) {
                if (childs_announcement[forms].id === tabList[lastTab]) {
                    document.getElementById(childs_announcement[forms].id).style.display = 'block';
                }
            }

            // // 794 - 45 = 749
            // var alltabLength = document.getElementById('all_tab').offsetWidth;
            // var tabArray = Object.keys(tabList);
            // var tabLength = 749 / (count + 1);
            // if (alltabLength > 749) {
            //     for (tabs in tabArray) {
            //         document.getElementById(tabArray[tabs]).style.width = tabLength + "px";
            //     }
            //     console.log(document.getElementById('tabs').offsetWidth);
            // }
            // else {
            //     for (tabs in tabArray) {
            //         document.getElementById(tabArray[tabs]).style.width = "fit-content";
            //     }
            // }
        }

        function showTab(tabID) {
            if (tabList[tabID]) {
                for (var child in childs_announcement) {
                    if (childs_announcement[child].id === tabList[tabID]) {
                        document.getElementById(childs_announcement[child].id).style.display = 'block';
                        tabHistory[tabID] = childs_announcement[child].id;
                    }
                    else if (child !== 'length' && child !== 'item' && child !== 'namedItem') {
                        document.getElementById(childs_announcement[child].id).style.display = 'none';
                    }
                }
            }
        }
    </script>
</body>

</html>