<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Announcement</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- Boxicons CDN Links -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_announcement.css' %}" />
    <!-- <script type="text/javascript" src="add_ancmnt.js"></script> -->
    <style>
      #lgid {
        justify-items: center;
        margin: 8px;
        margin-top: 0px;
        padding-top: 15px;
      }

      #mainI {
        height: 100%;
        width: 100%;
        opacity: 0.9;
      }

      #mainTx {
        justify-items: center;
        display: flex;
        justify-content: center;
      }
    </style>
  </head>

  <body onload="init()">
    {% include "partials/sidebar.html" %}

    <div class="home_content">
      <section class="tabs" id="tabs">
        <section id="all_tab">
          <div id="tab" class="tab" onclick="openTab()">
            <h4>New Announcement</h4>
            <div id="close_tab" class="close_tab" onclick="closeTabs(this.id)">
              <img src="{% static 'img/close.png' %}" alt="" class="close" />
            </div>
          </div>
        </section>
        <section class="plus_tab" onclick="addTabs()">
          <img
            src="{% static 'img/plus_tab.png' %}"
            alt=""
            class="click_plus"
          />
        </section>
      </section>

      <section class="announcement_section" id="announcement_section">
        <div class="form" id="form">
          <form
            name="form"
            method="post"
            onsubmit="return (validate())"
            id="form_no"
          >
            {% csrf_token %}
            <div class="form-group row">
              <label
                for="academicyear"
                class="col-sm-4 col-form-label fieldspace"
                ><strong>Academic Year</strong></label
              >
              <div class="col-sm-5 fieldspace">
                <select
                  class="form-control"
                  id="academmicyear"
                  name="academmicyear"
                  required
                >
                  <option value="2021-2022">2021-2022</option>
                  <option value="2022-2023">2022-2023</option>
                  <option value="2023-2024">2023-2024</option>
                  <option value="2024-2025">2024-2025</option>
                  <option value="2025-2026">2025-2026</option>
                  <option value="2026-2027">2026-2027</option>
                  <option value="2027-2028">2027-2028</option>
                  <option value="2028-2029">2028-2029</option>
                  <option value="2029-2030">2029-2030</option>
                </select>
              </div>

              <label for="eventname" class="col-sm-4 col-form-label fieldspace"
                ><strong>Event Name</strong></label
              >
              <div class="col-sm-8 fieldspace">
                <textarea
                  class="form-control"
                  id="eventname"
                  name="eventname"
                  rows="3"
                  required
                ></textarea>
              </div>

              <label for="eventfocus" class="col-sm-4 col-form-label fieldspace"
                ><strong>Event Focus</strong></label
              >
              <div class="col-sm-8 fieldspace">
                <textarea
                  class="form-control"
                  id="eventfocus"
                  name="eventfocus"
                  rows="3"
                  required
                ></textarea>
              </div>

              <label
                for="eventstartdate"
                class="col-sm-4 col-form-label fieldspace"
                ><strong>Event Start Date</strong></label
              >
              <div class="col-sm-5 fieldspace">
                <input
                  type="date"
                  class="form-control"
                  id="eventstartdate"
                  name="eventstartdate"
                  onchange="calculateDays()"
                  required
                />
              </div>

              <label
                for="eventenddate"
                class="col-sm-4 col-form-label fieldspace"
                ><strong>Event End Date</strong></label
              >
              <div class="col-sm-5 fieldspace">
                <input
                  type="date"
                  class="form-control"
                  id="eventenddate"
                  name="eventenddate"
                  onchange="calculateDays()"
                  required
                />
              </div>

              <div class="form-group row" id="eventtiming"></div>

              <label for="eventvenue" class="col-sm-4 col-form-label fieldspace"
                ><strong>Event Venue</strong></label
              >
              <div class="col-sm-8 fieldspace">
                <textarea
                  class="form-control"
                  id="eventvenue"
                  name="eventvenue"
                  rows="3"
                  required
                ></textarea>
              </div>

              <label
                for="eventresourceperson"
                class="col-sm-4 col-form-label fieldspace"
                ><strong>Event Resource Person</strong></label
              >
              <div class="col-sm-8 fieldspace">
                <textarea
                  class="form-control"
                  id="eventresourceperson"
                  name="eventresourceperson"
                  rows="3"
                  required
                ></textarea>
              </div>

              <div class="container">
                <div class="col-md-12 text-center">
                  <button
                    type="submit"
                    class="btn btn-outline-dark fieldspace"
                    id="submit"
                  >
                    Announce
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>

    <script>
      let btn = document.querySelector("#btn");
      let sidebar = document.querySelector(".sidebar");
      let searchBtn = document.querySelector(".bx-search");
      let counter = 0;
      let count = 0;

      btn.onclick = function () {
        sidebar.classList.toggle("active");
      };
      searchBtn.onclick = function () {
        sidebar.classList.toggle("active");
      };

      function calculateDays() {
        counter++;
        var d1 = document.getElementById("eventstartdate").value;
        var d2 = document.getElementById("eventenddate").value;

        const date1 = new Date(d1);
        const date2 = new Date(d2);
        const time = Math.abs(date2 - date1);
        const days = Math.ceil(time / (1000 * 60 * 60 * 24));
        console.log(days);

        if (date1 > date2) {
          document.getElementById("eventtiming").innerHTML = "";
          alert("Please make valid selection of starting and ending dates");
        } else {
          if (days === 0) {
            html =
              '<label for="eventtime" class="col-md-4 col-form-label fieldspace"><strong>Event Time</strong></label>\
                            <div class="col-md-4 fieldspace" style="padding-right: 1rem;">\
                                <label for="starttime ' +
              i +
              ' " class="col-sm-6 col-form-label"><strong>Start Time :</strong></label>\
                                <input type="time" class="form-control" name="starttime1 " required></input>\
                            </div>\
                            <div class="col-md-4 fieldspace" style="padding-left: 1rem;">\
                                <label for="endtime  ' +
              i +
              ' " class="col-sm-6 col-form-label"><strong>End Time :</strong></label>\
                                <input type="time" class="form-control" name="endtime1 " required></input>\
                            </div>';
            document.getElementById("eventtiming").innerHTML = html;
          } else {
            console.log("a2");
            if (counter > 1) {
              document.getElementById("eventtiming").innerHTML = "";
            }

            for (var i = 1; i <= days + 1; i++) {
              html =
                '<label for="eventtime" class="col-md-4 col-form-label fieldspace"><strong>Day ' +
                i +
                ' Time</strong></label>\
                            <div class="col-md-4 fieldspace" style="padding-right: 1rem;">\
                                <label for="starttime ' +
                i +
                ' " class="col-sm-6 col-form-label"><strong>Start Time :</strong></label>\
                                <input type="time" class="form-control" name="starttime' +
                i +
                ' " required></input>\
                            </div>\
                            <div class="col-md-4 fieldspace" style="padding-left: 1rem;">\
                                <label for="endtime  ' +
                i +
                ' " class="col-sm-6 col-form-label"><strong>End Time :</strong></label>\
                                <input type="time" class="form-control" name="endtime' +
                i +
                ' " required></input>\
                            </div>';
              document.getElementById("eventtiming").innerHTML += html;
            }
          }
        }
      }

      function addTabs() {
        count++;
        html =
          '<div id="tab ' +
          count +
          ' " class="tab"  onclick="openTab()">\
                    <h4>New Announcement</h4>\
                    <div id="close_tab ' +
          count +
          ' " class="close_tab"  onclick="closeTabs(this.id)">\
                        <img src="./icons/close.png" alt="" class="close">\
                    </div>\
                </div>';

        form =
          '<div class="form" id="form ' +
          count +
          ' ">\
                <form name="form ' +
          count +
          ' " method="post" onsubmit="return (validate())" id="form_no">\
                    <div class="form-group row ">\
                        <label for ="academicyear ' +
          count +
          ' " class="col-sm-4 col-form-label fieldspace"><strong>AcademicYear</strong></label>\
                        <div class="col-sm-5 fieldspace">\
                            <select class="form-control" id="academmicyear ' +
          count +
          ' ">\
                                <option value="2021-2022">2021-2022</option>\
                                <option value="2022-2023">2022-2023</option>\
                                <option value="2023-2024">2023-2024</option>\
                                <option value="2024-2025">2024-2025</option>\
                                <option value="2025-2026">2025-2026</option>\
                                <option value="2026-2027">2026-2027</option>\
                                <option value="2027-2028">2027-2028</option>\
                                <option value="2028-2029">2028-2029</option>\
                                <option value="2029-2030">2029-2030</option>\
                            </select>\
                        </div>\
                        <label for="eventname ' +
          count +
          ' " class="col-sm-4 col-form-label fieldspace"><strong>EventName</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventname ' +
          count +
          ' " rows="3"></textarea>\
                        </div>\
                        <label for="eventfocus ' +
          count +
          ' " class="col-sm-4 col-form-label fieldspace"><strong>EventFocus</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventfocus ' +
          count +
          ' " rows="3"></textarea>\
                        </div>\
                        <label for="eventstartdate ' +
          count +
          ' " class="col-sm-4 col-form-label fieldspace"><strong>Event StartDate</strong></label>\
                        <div class="col-sm-5 fieldspace">\
                            <input type="date" class="form-control" id="eventstartdate ' +
          count +
          ' " onchange="calculateDays()">\
                        </div>\
                        <label for="eventenddate ' +
          count +
          ' " class="col-sm-4 col-form-label fieldspace"><strong>Event EndDate</strong></label>\
                        <div class="col-sm-5 fieldspace">\
                            <input type="date" class="form-control" id="eventenddate ' +
          count +
          ' " onchange="calculateDays()">\
                        </div>\
                        <div class="form-group row" id="eventtiming ' +
          count +
          ' ">\
                        </div>\
                        <label for="eventvenue ' +
          count +
          ' " class="col-sm-4 col-form-label fieldspace"><strong>EventVenue</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventvenue ' +
          count +
          ' " rows="3"></textarea>\
                        </div>\
                        <label for="eventresourceperson ' +
          count +
          ' " class="col-sm-4 col-form-label fieldspace"><strong>EventResource Person</strong></label>\
                        <div class="col-sm-8 fieldspace">\
                            <textarea class="form-control" id="eventresourceperson ' +
          count +
          ' " rows="3"></textarea>\
                        </div>\
                        <div class="container">\
                            <div class="col-md-12 text-center">\
                                <button type="button" class="btn btn-outline-dark fieldspace" id="submit ' +
          count +
          ' ">Announce</button>\
                            </div>\
                        </div>\
                    </div>\
                </form>\
            </div>';

        document.getElementById("all_tab").innerHTML += html;
        document.getElementById("announcement_section").innerHTML += form;
      }

      function closeTabs(clicked_id) {
        var child = document.getElementById(clicked_id);

        child.parentElement.remove();
      }

      var tabLinks = new Array();
      var contentDivs = new Array();

      function init() {
        // Grab the tab links and content divs from the page
        var tabListItems = document.getElementById("all_tab").childNodes;
        for (var i = 0; i < tabListItems.length; i++) {
          if (tabListItems[i].nodeName == "DIV") {
            var tabLink = getFirstChildWithTagName(tabListItems, "DIV");
            var id = getHash(tabLink.getAttribute("id"));
            tabLinks[id] = tabLink;
            contentDivs[id] = document.getElementById(id);
          }
        }

        // Assign onclick events to the tab links, and
        // highlight the first tab
        var i = 0;

        for (var id in tabLinks) {
          tabLinks[id].onclick = showTab;
          tabLinks[id].onfocus = function () {
            this.blur();
          };
          if (i == 0) tabLinks[id].className = "selected";
          i++;
        }

        // Hide all content divs except the first
        var i = 0;

        for (var id in contentDivs) {
          if (i != 0) contentDivs[id].className = "form hide";
          i++;
        }
      }

      function showTab() {
        var selectedId = getHash(this.getAttribute("id"));

        // Highlight the selected tab, and dim all others.
        // Also show the selected content div, and hide all others.
        for (var id in contentDivs) {
          if (id == selectedId) {
            tabLinks[id].className = "selected";
            contentDivs[id].className = "form";
          } else {
            tabLinks[id].className = "";
            contentDivs[id].className = "form hide";
          }
        }

        // Stop the browser following the link
        return false;
      }
    </script>
  </body>
</html>
